.pointsCountContainer{
  background-color: #000;
}

.pointsCountTitle{
  color: black;
}

.pointsCountValue{
  color: red;
}

.colors{
  color: #512DA8;
  color: #673AB7;
  color: #D1C1EB;
  color: #8753FF;
}
